.navbar-main {
    display: inline;
    align-items: center;
    position: fixed;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    top: 0;
    right: 0;
    left: 0;

    height: 55px;

    padding: 0 200px;

    background-color: #1b2125;
}

.navbar-main h1 {
    font-size: 2.8rem;
    color: #ffffff;
}